<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">


	<!-- 运维监控配置类 -->
	<bean id="monitorConfigure"
		class="com.palmcity.rtti.maintenancemonitor.bean.MaintenanceMonitorConfigure">
		<property name="monitorUserDao" ref="monitorUserDaoImpl"></property>
		<property name="scan_interval" value="${scan_interval}"></property>
		<property name="mail_receivers" value="${mail_receivers}" />
		<property name="sms_receivers" value="${sms_receivers}"></property>
		<property name="outputData_filepath" value="${PUBLISHDATA_FILEPATH}"></property>
		<property name="moduleNameMap">
			<map>
				<entry key="${MODULETYPE_RECEIVE}" value="接收"></entry>
				
			</map>
		</property>
		<property name="confMap">
			<map>
				<entry key="${MODULETYPE_RECEIVE}">
					<bean class="com.palmcity.rtti.maintenancemonitor.bean.LogTypeConfigure">
						<property name="processClass"
							value="com.palmcity.rtti.maintenancemonitor.service.ImplReceiveLogFileScan"></property>
						<property name="threadNum" value="1"></property>
						
						<property name="fileList">
							<list>
							</list>
						</property>
					</bean>
				</entry>
			</map>
		</property>
	</bean>
	<!-- 定时日志扫描线程类 -->
	<bean id="logFileScanThread"
		class="com.palmcity.rtti.maintenancemonitor.service.LogFileScanSchedule"
		depends-on="monitorConfigure,exporter" init-method="init">
		<constructor-arg ref="monitorConfigure"></constructor-arg>
		<property name="alarmDao" ref="alarmHistoryDaoImpl"></property>
		<property name="messageService" ref="smsSender"></property>
		<property name="mailService" ref="mailSender"></property>
		<property name="logFileConfigureDAO" ref="logFileConfigureDAOImpl"></property>
	</bean>

    <!-- 模块管理持久化访问 -->
	<bean id="logFileConfigureDAOImpl"
		class="com.palmcity.rtti.maintenancemonitor.dao.impl.LogFileConfigureDAOImpl">
		<property name="businessDAO" ref="baseDAO"></property>
	</bean>
		<!-- 拓扑图管理持久化访问 -->
	<bean id="monitorMapDaoImpl"
		class="com.palmcity.rtti.maintenancemonitor.dao.impl.MonitorMapDAOImpl">
		<property name="businessDAO" ref="baseDAO"></property>
	</bean>
	<bean id="alarm_TicketDAOImpl"
		class="com.palmcity.rtti.maintenancemonitor.dao.impl.Alarm_TicketDAOImpl">
		<property name="businessDAO" ref="baseDAO"></property>
	</bean>
	
	<!-- 用户管理持久化访问 -->
	<bean id="monitorUserDaoImpl"
		class="com.palmcity.rtti.maintenancemonitor.dao.impl.MonitorUserDAOImpl">
		<property name="businessDAO" ref="baseDAO"></property>
	</bean>
	<!-- 用户管理持久化访问 -->
	<bean id="alarmHistoryDaoImpl"
		class="com.palmcity.rtti.maintenancemonitor.dao.impl.AlarmHistoryDAOImpl">
		<property name="businessDAO" ref="baseDAO"></property>
	</bean>

	<!-- 用户管理服务实例 -->
	<bean id="service.monitorUserService"
		class="com.palmcity.rtti.maintenancemonitor.service.MonitorUserDaoService">
		<property name="configure" ref="monitorConfigure"></property>
		<property name="monitorUserDAO" ref="monitorUserDaoImpl"></property>
	</bean>
	<!-- 报警处理服务实例 -->
	<bean id="service.alarmHistoryService"
		class="com.palmcity.rtti.maintenancemonitor.service.AlarmHistoryDaoService">
		<property name="alarmHistoryDAO" ref="alarmHistoryDaoImpl"></property>
	</bean>
	<!-- 实时监测服务实现类 -->
	<bean id="service.monitorRealTimeService"
		class="com.palmcity.rtti.maintenancemonitor.service.MonitorRealTimeService">
		<property name="configure" ref="monitorConfigure"></property>
		<property name="logFileConfigureDAO" ref="logFileConfigureDAOImpl"></property>
	</bean>
	<!-- 历史数据导出到excel表实现类 -->
	<bean id="service.monitorReportExcel"
		class="com.palmcity.rtti.maintenancemonitor.service.MonitorReportExcel">
		<property name="alarmHistoryDAO" ref="alarmHistoryDaoImpl"></property>
		<property name="configure" ref="monitorConfigure"></property>
	</bean>
	
	<!-- 模块配置信息服务实现类 -->
	<bean id="service.LogFileConfigureService"
		class="com.palmcity.rtti.maintenancemonitor.service.LogFileConfigureService">
		<property name="logFileConfigureDAO" ref="logFileConfigureDAOImpl"></property>
		<property name="alarmHistoryDAO" ref="alarmHistoryDaoImpl"></property>
	</bean>
	<!-- 拓扑图配置信息服务实现类 -->
	<bean id="service.MonitorMapDaoService"
		class="com.palmcity.rtti.maintenancemonitor.service.MonitorMapDaoService">
		<property name="monitorMapDAO" ref="monitorMapDaoImpl"></property>
	</bean>
	<!-- 故障单信息服务实现类 -->
	<bean id="service.MonitorAlarm_TicketService"
		class="com.palmcity.rtti.maintenancemonitor.service.MonitorAlarm_TicketService">
		<property name="alarm_TicketDAO" ref="alarm_TicketDAOImpl"></property>
		<property name="alarmHistoryDAO" ref="alarmHistoryDaoImpl"></property>
		
	</bean>
</beans>
