@charset "utf-8";
.changeDiv {
	width: 100%;
	height: 100%;
	overflow: auto;
	margin: 0 auto;
	border: 0px solid yellow;
	display: none;
}
.mon_right{
	height:100%;
	width:100%;
	border:1px solid #A8D9F8;
	margin:0 auto;
	/*text-align:center;*/
	vertical-align: middle;
	
	}
.mon_right font{
	margin-top : 150px ;
	font-size:50px; 
	font-weight:normal; 
	color:#E5F3FE;
	vertical-align:middle;
	font-family:"黑体"
	line-height:200%;
	}
.mon_rback{
	width:100%;
	height:100%;
	border:1px solid #3498CC;
	background:url(images/statistics_bg.gif) 50% no-repeat;
	}
.hidden{
	display:none;
}
.RTright{
    padding-left:26px;
    background:url(../images/ico_add.gif) 10px 4px no-repeat;
	}
	
.grid_btn_forGridadd{
	background: url("../images/add_gid.gif") no-repeat 5px 0px;
	padding-left:25px;
}

.grid_btn_forGridTeamMove{
	background: url("../images/cog_edit.png") no-repeat 5px 0px;
	padding-left:25px;
}



.left_tabs_header {
	width: 100%;
	background: #b4dcff;
	border-bottom: 1px solid #3399CC;
	font-size: 12px;
	padding-left: 10px;
	height: 23px;
	margin-bottom: 10px;
}
.consoleLeftMenu_LI {
	cursor: pointer;
	width: 82px;
	float: left;
	height: 18px;
	text-align: center;
	margin-left: 10px;	
	padding-top : 5px;	
}
.console_tabs_selected{
	background-color: white;
	border: 1px solid #3399CC;
	border-bottom: 1px solid white;
	cursor: pointer;
	width: 80px;
	float: left;
	height: 17px;
	text-align: center;
	margin-left: 10px;	
	padding-top : 5px;
}

.console_tabs_hover{
	background-color: white;
	border: 1px solid #3399CC;
	border-bottom: 1px solid white;
	cursor: pointer;
	width: 80px;
	float: left;
	height: 17px;
	text-align: center;
	margin-left: 10px;	
	padding-top : 5px;
	
}


.submissiontd{	
	width:100%;
	border-top:#a3c0e8 1px solid;
	border-bottom:#a3c0e8 1px solid;
	/**background:#E5F3FE;*/
	height:26px;
	background: url(../images/deletePop/header-bg.gif) repeat-x;
	margin:0 auto;
	text-align:center;
}
.intput_tip{
    float:right;
    display:block;
    text-align:center;
    position: absolute;
    border: 1px solid  red;
    width:200px;
    height: 21px;
    line-height:21px;
    background-color: #fff2e9;
   
}
.intput_tip_tree{
    float:right;
    display:block;
    text-align:center;
    position: absolute;
    border: 1px solid  red;
    width:200px;
    height: 25px;
    line-height:21px;
    background-color: #fff2e9;
   
}

.searchTable {
	width: 100%;
	height: auto;
	border: 1px solid #3398CC;
	margin-bottom: 10px;
	text-align:center;
	vertical-valign:middle;
	overflow: auto;
}

.searchTable .title {
	background: url(../images/deletePop/header-bg.gif);
	font-size: 12px;
	text-align:left;
	border-bottom:  1px solid #a3c0e8;
}
.searchTable .detail {
	font-size: 12px;
	height: 30px;
	text-align:left;
	border-bottom: 1px solid #b4dcff;
}
.searchTable .bigline {
	font-size: 12px;
	text-align:left;
	padding-left: 2px;
	border-bottom: 1px solid #b4dcff;
}
.openwindow {
	overflow: auto;
	z-index: 999;
	position: absolute;
	/*border: 2px solid #b4dcff;*/
	border-left: 1px solid #b4dcff;
	border-bottom: 1px solid #b4dcff;
	border-right: 1px solid #b4dcff;
	background: white;
	display: none;

}
.openwindow1 {
	overflow: auto;
	z-index: 999;
	position: absolute;
	border: 2px solid #b4dcff;
	display: none;
}
.loading {
	overflow: auto;
	z-index: 999;
	position: absolute;
	background: white;
}

.noborder-div {
	overflow: auto;
	border: 0px solid #b4dcff;
}

.openwindowpass {
	overflow: auto;
	z-index: 999;
	position: absolute;
	border: 0px;
	background: white;
	
}

.openwindow .title {
	background:url("../images/deletePop/header-bg.gif");
	height: 17px;
	font-size: 14px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.openwindow .close {
	background: url("../images/deletePop/close2.gif") no-repeat;
	width: 14px;
	height: 13px;
	border: none;
	margin: 1px 3px 0px 0px;
	float: right;
	padding-top:2px;
	cursor: pointer;
	/*margin-top:7px;*/
}

.openwindow .deletePopClose {
	background: url("../images/deletePop/close2.gif") no-repeat;
	width: 14px;
	height: 13px;
	border: none;
	margin: 1px 3px 0px 0px;
	float: right;
	padding-top:2px;
	cursor: pointer;
	margin-top:7px;
}

.openwindow .titlediv {
	width: 120px;
	height: 13px;
	border: none;
	float: left;
	font-weight:bold;
	margin-top:-1px;
	cursor: pointer;
}
.openwindow .titleicon  {
	width:10px;
	height:10px;
	float:left;
	margin-left:8px;
	margin-top:2px;
	margin-right:8px;
}

.openwindow .p_content {
	overflow-x: auto;
	overflow-y: auto;
	width: 100%;
	
}
.openwindow .p_content_notitle {
	overflow-x: auto;
	overflow-y: auto;
	margin: 0px auto;
	border: 0px;
}	

.openwindow .search_title {
	font-weight: bold;
	background: url("../images/gif-0027.gif") no-repeat 2px 2px;
	padding-left: 15px;
	width: auto;
	height: 17px;
	float: left;
	/*margin-top:7px;*/
}

.openwindow .delete_title {
	font-weight: bold;
	background: url("../images/deletePop/bin_closed.png") no-repeat 1px 0px;
	padding-left: 15px;
	width: auto;
	height: 17px;
	float: left;
	margin-left : 3px;
	margin-top:7px;
}


.searchTable .search_title {
	font-weight: bold;
	background: url("../images/deletePop/button05.png") no-repeat 2px 1px;
	padding-left: 15px;
	width: auto;
	height: 17px;
	float: left;
	margin-top: 2px;
	
}

.searchTable .close_img {
	height: 12px;
	width: 12px;
	border: 0px;
	float : right;
	margin-right: 10px;
	cursor: pointer;
	margin-top: 5px;
}
.close_img1 {
	height: 12px;
	width: 12px;
	border: 0px;
	float : right;
	margin-right: 5px;
	cursor: pointer;
}

.searchTable .s_lable {
	height: 30px;
	width: 10%;
	text-align: right;
}

.searchTable .s_value {
	height: 30px;
	width: 20%;
	padding-left: 10px;
	text-align: left;
}

.s_submit_td {
	text-align: center;
}

.input_init{/*有用*/
	width:140px;
	height:17px;
	border:1px solid #8FBBF3; /*39C;*/
	padding-left: 5px;
	padding-top: 3px;
	float:left;
}

.input_change{
	width:138px;
	height:18px;
	border:2px solid red;
	padding-left: 4px;
	padding-top: 2px;
}

.input_focus_new{
	width:139px;
	height:18px;	
	border:2px solid #39C;
	padding-left: 4px;
	padding-top: 4px;
}

.selectbox  
{ /*有用*/
 	border:1px solid #39C; 
  	width:146px; 
	height:21px; 
	clip:rect(0px,0px,0px,0px); 
	overflow:auto;
	margin:0px;
 	float: left;
}
.selectbox2 
{ 
 	border:1px solid #39C; 
	height:20px; 
	width:146px;
	clip:rect(0px,0px,0px,0px); 
	overflow:auto;
	margin:0px;
 	float: left;
}

.select_init{/*有用*/
	width:146px;
	height:22px;
	border:0px solid #39C;
	padding-left: 5px;
	/*margin-top: -1px;
	margin-left: -1px;*/
}

.reportforms_select_init{
    width:70px;
	height:22px;
	line-height:22px;	
	border:1px solid #39C;
	padding-left: 5px;
}
.input_date{
	width:140px;
	height:17px;
	border:1px solid #39C;
	padding-left: 5px;
	padding-top: 3px;
	background:url("../images/creat1.gif") 125px 2px no-repeat;
	float:left;
}
.input_focus2{
	width:140px;
	height:20px;
	line-height:20px;	
	border:1px solid #39C;
	padding-left: 5px;
}
.breakword{
	word-break:break-all;
	word-wrap:break-word; 
}

.input_over2{
	width:140px;
	height:20px;
	line-height:20px;	
	border:1px solid #39C;
	padding-left: 5px;
}


.searchTable .s_submit {
	background: url("../images/butt1.jpg") no-repeat;
	width: 70px;
	height: 22px;
	border: none;
	cursor: pointer;
	
}
.searchTable .s_button{
	background: url("../images/right_bottom_bg.gif") repeat;
	width:70px; 
	height: 22px;
	padding-top:0px;
	cursor: pointer;
}
.searchTable .s_reset {
	background: url("../images/butt2.jpg") no-repeat;
	width: 70px;
	height: 22px;
	border: none;
	cursor: pointer;
}
.searchTable .s_selctcorp {
	background: url("../images/butt2v.jpg") no-repeat;
	width: 86px;
	height: 22px;
	border: none;
	cursor: pointer;
}


.s_reset_btn {
	background: url("../images/mon2.jpg") no-repeat;
	width: 68px;
	height: 23px;
	margin-top : 2px;
	margin-right : 20px;
	border: none;
	margin-bottom: 20px;
	cursor: pointer;
	text-align:center;
	color:#000;
}

.confirm {
	background: url("../images/mon1.jpg") no-repeat;
	width: 98px;
	height: 23px;
	border: none;
	margin-top : 2px;
	margin-right : 20px;
	margin-bottom: 20px;
	cursor: pointer;
	text-align:center;
	color:#000;
}
.reset {
	background: url("../images/but_reset.gif") no-repeat;
	width: 57px;
	height: 20px;
	border: none;
	margin-top : 2px;
	margin-right : 20px;
	margin-bottom: 20px;
	cursor: pointer;
	text-align:center;
	color:#000;
}
.cannel_btn{
	background: url("../images/mon2.jpg") no-repeat;
	width: 68px;
	height: 23px;
	border: none;
	margin-bottom: 20px;
	margin-top : 2px;
	margin-right : 20px;
	cursor: pointer;
	text-align:center;
	color:#000;
}


.grid_btn_forGridPrint{
	background: url("../images/dot_print.gif") no-repeat 5px 0px;
	padding-left:25px;
}
.grid_btn_forGridExport{
	background: url("../images/dot_export.gif") no-repeat 5px 0px;
	padding-left:25px;
}
.grid_btn_forGridadd{
	background: url("../images/add_gid.gif") no-repeat 5px 0px;
	padding-left:25px;
}
.grid_btn_forGridcheck{
	background: url("../images/check.gif") no-repeat 5px 0px;
	padding-left:25px;
}
.pieClass {
	width: 400px;
	height: 300px;
	border: 1px solid red;
}

.barClass {
	width: 400px;
	height: 300px;
	border: 1px solid red;
}

.leftDiv {
	width: 214px;
	height: auto;
	float: left;
	padding-left: 6px;
	margin-right: 5px;
}

.left_tabs {
	width: 100%;
	height: auto;
}
.reportform_lable{
	width:10%;
	text-align:right;
}
.reportform_value{
	width:10%;
	text-align: left;
	}
.reportformtable{
	width:80%;
	height:50px;
	cellpadding:0;
	cellspacing:0;
	padding-top:10px;
	padding-left:100px;
}
.tabs_content{
   width: 100%;
   padding-left:60px;
   height:90px;
   z-index: 999;
   display:block; 
   position:relative; 
}
.reportformsBox{	
	width:100%;
	float:left;
	height : 20%;
	border:0px solid #B4DCFF;
	background:#fff;
	overflow:auto;
}

.reportforms_tabs {
	float: left;
	width: 100%;
	padding:5px 0 0 5px;
	margin-bottom: 10px;
	height:23px;
	border:0px solid #B4DCFF;
	background-color: #b4dcff;
	border-bottom: 1px solid #3399CC;
	
}
.reportforms_tabs_selected{
	border: 1px solid #3399CC;
	border-bottom: 1px solid white;
	background:#FFF;

}

.reportform_drp_div{
	padding-left:30px;
	padding-top:50px;
	display:none;
}

#report_Fnav {
	float: left;
	width: 100%;
	padding-left: 39px;
	margin-bottom: 10px;
	height: 23px;
	background: #b4dcff;
	border-bottom: 1px solid #3399CC;
}





.left_tabs_content {
	margin-top: 0x;
	padding: 0px 0 50px 0px;
	width: 100%;
}

.left_tabs_content_1 {
	padding: 0px 0px 0px 0px;
	width: 210px;
	border: 0px solid #b4dcff;
	border-top: 0px solid #b4dcff;
	height: 100%;
	color: #033;
}

.left_tabs_content_1 ul li {
	list-style-type: none;
}

.operatorDIV {
	margin: 0px 2px 0px 5px;
	border: 2px solid #b4dcff;
	padding: 0px 4px 4px 0px;
	overflow-x: auto;
	overflow-y: auto;
}
.noBorder {
	border: 0px solid #b4dcff;
}

.flex_grid{
	display: none;
}

iframe{
	font-size: 12px;
	
	}
.hiscx{
float:left;
width:600px;
padding-left:95px;
margin-bottom: 15px;
}
.hiscx ul{
list-style-type: none;
}
.hiscx ul li{
float:left;
margin-left: 10px;
text-align: center;
}

.checkTable {
	float:left;	
	padding-top: 8px;
	padding-left:30px;
	padding-bottom:10px;
	width: 98%;
	border: 0px solid;
}
.checktab{
	float:left;
	width:100px;;
	height:18px;
	padding-top:5px;
	border:1px solid #b4dcff;
	background-color:#b4dcff;
	text-align: center;
	z-index: 200;
}
.checktabbottom{
	float:left;	
	width: 100%;
	border: 0px solid;
    border-bottom:1px solid #3398CC;
}
.checktitle{
float:left;
padding-left:5px;
}
.checktitle ul{
list-style-type: none;
width: 100%
}
.checktitle li{
float:left;
width:30px;;
height:19px;
padding-top:3px;
border:1px solid #b4dcff;
margin-left: 5px;
text-align: center;
}
.checktitle_li_item{
float:left;
width:30px;;
height:19px;
padding-top:3px;
border:1px solid #b4dcff;
margin-left: 5px;
text-align: center;
}
.checktitle_li_selected{
 background-color: #b4dcff;
 font-weight: bold;
}
.checktitle_li_moveover
{
	background-color: #b4dcff;
	cursor: pointer;
}

.hiscx ul li.hispad{padding-top:3px;}
.sendmsg_listcontent{
float:left;
padding-left:0px;
padding-top:10px;
width:100%;height:auto;
}

.left_menu_title{	
	border: 1px solid white;
	margin-left:0px;
	width:190px;
	border:0px solid #b4dcff;	
	height:19px;
	padding-left:20px;
	padding-top:6px;
	font-weight:bold;
	margin-top:0px;
	cursor:pointer;
	background-color:#b4dcff;
	font-size:12px;
	margin-bottom: 5px;
}
.car_detail_td{
	height:22px;
	width:150px;
	line-height:20px;
	font-size:12px;
	text-align:right;
	border-bottom:1px dashed #cccccc;
}
.car_detail_td_value{
	height:22px;
	width:230px;
	line-height:20px;
	font-size:12px;
	color:#333; 
	padding-left:5px;
	border-bottom:1px dashed #cccccc;
	
}
.statTable {
	padding-top: 8px;
	padding-left:50px;
	padding-bottom:10px;
	border-collapse: collapse;
	border: 1px solid #b4dcff;
	width: 80%;
	
}
.stattd{
height: 30px;
text-align:center;
border:1px solid #b4dcff;
}
.loadmask {
    z-index: 100;
    position: absolute;
    top:0;
    left:0;
    -moz-opacity: 0.5;
    opacity: .50;
    filter: alpha(opacity=50);
    background-color: white;
    width: 100%;
    height: 100%;
    zoom: 1;
    position: absolute;

}
.loadmask-msg {
    z-index: 20001;
    position: absolute;
    top: 0;
    left: 0;
    border:0px solid #6593cf;
   /*background: #c3daf9;
    padding:2px;*/
}
.loadmask-msg div {
    padding:5px 5px 5px 35px;
    background: url('../script/view/loading/loading.gif') no-repeat 5px 5px;
    line-height: 16px;
	border:0px solid #a3bad9;
    color:#222;
    font:normal 11px tahoma, arial, helvetica, sans-serif;
    cursor:wait;
    height: 31px;
}
.welcomeIMG{
	background:url('../images/general/bj01.gif') repeat-x;
	height:100%;
	width:100%;
	}
.welcomeIMG img{
	height:100%;
	}
.sys_menus{
width:210px;
height:auto;
font-size:14px;
background:#FFF;
border-left:1px solid #A2C6F4;/*lsm 修改*/
border-right:1px solid #A2C6F4;/*lsm 修改*/
/*border:1px solid #A2C6F4;去掉*/ 
}

.sys_menusdt{
width:210px;
height:27px;/*lsm 修改*/ 
line-height:27px;/*lsm 修改*/ 
font-size:14px;
font-weight:bold;
color:#000;
background:url(../images/bj05.gif) repeat-x; /*lsm 修改*/ 
background-position:bottom;
text-align:left;
text-indent:38px;
}
/*lsm 修改*/
.sys_menusdtimg{
	margin-right:10px;
	margin-bottom:2px;
	display:inline;
}

.sys_menusdd{
width:210px;
height:27px;
color:#000;
font-size:14px;
border-bottom:1px solid #DFEAF8;/*lsm 修改*/
background:#F7F7F7;/*lsm 修改*/
text-indent:6px;/*lsm 修改*/
float:left;/*lsm 修改*/
}
/*lsm 修改*/
.sys_menusddimg{
margin:10px 0px 0px 30px;
display:inline;
float:left;
}
sys_menusa, .sys_menusa:visited{
line-height:28px;
color:#000;
text-decoration:none;
display:block;
}
.menuinput{
	background:#FFFFFF url(../images/magnifier.png) right no-repeat;
	border:#3399CC solid 1px;
}
.userbar{
	margin-top: 0px;
	margin-right: 20px;
	float:right;
	height:50px;
	
}
.navtop{
	/*width:250px;*/
	width:220px auto;
	float:right;
	height:18px;
	padding:10px 0 0 0px;
	}
.navtop li{
	float:left;
	height:18px;
	line-height:18px;
	padding:0 8px 0 18px;
	text-align:left;
	}
.navtop li a{
	color:white;
	}
.navtop li a:hover{
	color:red;
	text-decoration:underline;
	}
.navtop li.pic1,.navtop li.pic2,.navtop li.pic3,.navtop li.pic4{
	float:left;
	}
.navtop li.pic1{
	background:url(../images/north/ioc1.gif) 0px 2px no-repeat;
	}
.navtop li.pic2{
	background:url(../images/north/ioc2.gif) 0px 2px no-repeat;
	}
.navtop li.pic3{
	background:url(../images/north/ioc3.gif) 0px 2px no-repeat;
	}
.navtop li.pic4{
	background:url(../images/north/ioc4.gif) 0px 2px no-repeat;
	}
.topMain{
	background: #77B6DD;
	color: White;
}
.firstTable{
    width: 100%; 
    height: 100%; 
    padding-top: 30px; 
    padding-bottom: 30px;
}
.detail_table{
	margin-top: -155px; width: 475px; border: 0px; text-align: center; background-color: #D0EEFD;
}

.detail_table td{
	width:150px;
	height:20px;
	background-color: #FFFFFF;
	word-wrap: break-word;
					
}
.detail_td_value{
	width:310px;
	text-align: left;
	padding-left: 10px;
}
.detail_td_name{
	width:310px;
	text-align: right;
	padding-right: 10px;
}
.divbody0{
width: 100%;
position: relative;
height: 100%;
display: block;
margin-left: 10px;
margin-right: 10px;
margin-bottom 10px;
background: white;
border: 1px solid #ccc;
overflow: auto;
padding-top: 155px;

}
.dvibody1{
width: 100%;
position: relative;
height: 100%;
display: block;
margin-right:-2px;
margin-bottom 10px;
background: white;
border: 1px solid #ccc;
overflow: auto;
padding-top: 155px;

}
.fleshA{
padding-top:5px;
cursor: pointer;
}
.fleshA:hover{
	color:red;
}
.divtitle0{
background: url(../images/right_bottom_bg.gif) repeat-x;
float:left;
border: 1px solid #ccc;
border-bottom: 0;
margin-left: 10px;
padding-left: 10px;
padding-top: 5px;
width: 60px;
}
.divtitle1{
background: url(../images/right_bottom_bg.gif) repeat-x;
padding-left: 10px;
padding-top: 5px;
border: 1px solid #ccc;
border-bottom: 0;
width: 30px;
}
.s_error {
	font-family:Arial, Helvetica, "宋体";
	font-size:12px; 
	color:#FF0000;
}
.l-button-reportExcel
{
	width:70px;
}
.l-table-edit {}
.l-table-edit-td{ padding:4px;}
.l-button-submit,.l-button-reset{width:80px; float:left; margin-left:10px; padding-bottom:2px;}


body{ padding:0px; margin:0;  font-family:Arial, Helvetica, "宋体";
	font-size:12px; 
	 overflow:auto;} 
